<tr>
<td>
    {{id}}
</td>
<td>
    {{application_name}}
</td>
<td>
    {{username}}
</td>
<td>
    {{password}}
</td>
<td>
    <button type="button" id="app-delete" data-id="{{id}}" class="btn btn-danger">Delete</button>
</td>
{{!-- For future development
<td>
    <i class="far fa-copy"></i>
    <i class="far fa-edit"></i>
</td> --}}
</tr>

<script src="./js/newapp.js"></script>